#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#define COL 0
#define GAM 1
#define NUM 2
#define SYM 3
#define FUN 4
#define NAV 5

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&mt {
    tapping-term-ms = <200>;
	flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
	flavor = "tap-preferred";
};

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};


/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

			colemak {
				display-name = "COL";
				bindings = <
&kp LA(LC(LS(N1))) &kp Q      &kp W       &kp F       &kp P       &kp G					 &kp UP					&kp J &kp L     &kp U       &kp Y       &kp SQT   &kp LA(LC(LS(N4)))
&kp LA(LC(LS(N2))) &mt LALT A &mt LSHFT R &mt LCTRL S &lt SYM T   &kp D			&kp LEFT &kp ENTER &kp RIGHT	&kp H &lt SYM N &mt RCTRL E &mt RSHFT I &mt LALT O &to GAM
&kp LA(LC(LS(N3))) &mt RALT Z &kp X       &kp C       &kp V       &kp B		&kp C_MUTE	 &kp DOWN				&kp K &kp M     &kp COMMA   &kp DOT     &kp FSLH   &kp LA(TAB)
										&lt FUN TAB &kp LGUI &lt NUM RET										&lt NAV ESC &kp SPACE   &kp BSPC
				>;
				sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
			};

			games {
				display-name = "GAM";
				bindings = <
&kp TAB		 &kp Q &kp W &kp E &kp R &kp N1					 &kp UP					&kp Y &kp U &kp I     &kp O   &kp P    &none
&mt LALT ESC &kp A &kp S &kp D &kp F &kp N2			&kp LEFT &kp ENTER &kp RIGHT	&kp H &kp J &kp K     &kp L   &kp SEMI &to COL
&kp LSHFT	 &kp Z &kp X &kp C &kp V &kp N3		&kp C_MUTE	 &kp DOWN				&kp N &kp M &kp COMMA &kp DOT &kp FSLH &none
				  &kp LCTRL &kp SPACE &kp RET										&to COL &kp SPACE   &kp BSPC
				>;
				sensor-bindings = <&scroll_encoder>;
			};

			numbers {
				display-name = "NUM";
				bindings = <
&none  &none &kp LC(X)  &kp LC(C)  &kp LC(V)  &mkp MCLK						&mmv MOVE_UP				&kp MINUS &kp N7 &kp N8 &kp N9 &kp FSLH &none
&none  &none &kp LG(N1) &kp LG(N2) &kp LG(N3) &mkp RCLK	     &mmv MOVE_LEFT &mkp LCLK &mmv MOVE_RIGHT	&kp PLUS  &kp N4 &kp N5 &kp N6 &kp STAR &none
&none  &none &kp LG(N4) &kp LG(N5) &kp LG(N6) &kp LG(N7)		&kp C_MUTE	&mmv MOVE_DOWN				&kp EQUAL &kp N1 &kp N2 &kp N3 &none    &none
					  &none &none &trans																&mt LALT SPACE &mt LSHIFT N0 &kp DOT
				>;
				sensor-bindings = <&scroll_encoder>;
			};



			symbols {
				display-name = "SYM";
				bindings = <
&none &kp CARET &kp HASH &kp DLLR &kp PRCNT &kp LT					&none			&kp QMARK &kp LPAR &kp RPAR &kp DQT   &kp SQT   &none
&none &kp STAR  &kp EXCL &kp PLUS &kp EQUAL &kp GT			  &none &none &none		&kp MINUS &kp LBRC &kp RBRC &kp COLON &kp SEMI  &none
&none &kp FSLH  &kp BSLH &kp PIPE &kp AMPS  &kp AT			&none	&none			&kp UNDER &kp LBKT &kp RBKT &kp TILDE &kp GRAVE &none
						&none &none &none											&none &kp SPACE &none
				>;
				sensor-bindings = <&scroll_encoder>;
			};

			function {
				display-name = "FUN";
				bindings = <
&bt BT_CLR &kp F1  &kp F2  &kp F3 &kp F4      &kp F5				&none			&none &none &none &none &none &BT_SEL 0
&none &kp F6  &kp F7  &kp F8 &kp F9      &kp F10			  &none &none &none		&rgb_ug RGB_EFF &rgb_ug RGB_BRI &rgb_ug RGB_SPI &none &none &BT_SEL 1
&studio_unlock &kp F11 &kp F12 &none  &bootloader &sys_reset &none	&none			&rgb_ug RGB_EFR &rgb_ug RBG_BRD &rgb_ug RGB_SPD &none &none &BT_SEL 2
						&trans &none &none											&rgb_ug RGB_OFF &rgb_ug RGB_ON &kp LALT
				>;
				sensor-bindings = <&scroll_encoder>;
			};

			navigation {
				display-name = "NAV";
				bindings = <
&none &none    &kp C_MUTE       &kp C_VOL_DN   &kp C_VOL_UP &none			&none			&none    &kp HOME  &kp UP    &kp END    &kp SLCK        &none
&none &kp LALT &mt LSHFT C_PREV &mt LCTRL C_PP &kp C_NEXT   &none	  &none &none &none		&none    &kp LEFT  &kp DOWN  &kp RIGHT  &kp PSCRN       &none
&none &none    &none            &none          &none        &none	&none	&none			&none    &kp PG_UP &kp PG_DN &none      &kp PAUSE_BREAK &none
						&kp DEL &kp LGUI &kp CAPS											&trans &kp SPACE &none
				>;
				sensor-bindings = <&scroll_encoder>;
			};
    };
};
